<div class="post">
  <a href="/article/{{title}}" class="post">
    <div>
      <img src="{{imgpath}}" class="post-img">
    </div>
    <div>
      <h1 class="post-title">{{title}}</h1>
      <h6 class="post-text">{{intro}}</h6>
      <h6 class="post-text">Read more...</h6>
    </div>
  </a>
</div>