<div class="comment"><br>
  <div>
    <h1 class="comment-author">@{{author}}</h1>
    <h6 class="comment-text">{{content}}</h6>
  </div>
  {{#ifEqual author username}}
  <button class="deletebtn" type="submit" name="deletebtn" alt="Delete comment button"  title="Delete this comment!">
    <i class="far fa-trash-alt fa-2x"></i>
  </button>
  {{/ifEqual}}
</div><br>