<div class="comment"><br>
  <div>
    <h1 class="comment-author">@{{author}}</h1>
    <h6 class="comment-text">{{content}}</h6>
  </div>
  {{#ifEqual author username}}
  <button class="btn deletebtn" type="submit" id="deletebtn{{@index}}" name="deletebtn">Delete</button>
  {{/ifEqual}}
</div><br>