<nav id="header">
    <p id="date">Saturday, May 29, 2021</p>
    <div id="navop">
        <form action="/search" method="get">
            <input type="search" placeholder = "Search for articles or quizzes..." name = "search" value = "" id="search-bar"/>
            <button type="submit" id="search-btn">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
    </div>
</nav>
