<nav id="header">
    <div id="left">
        <a href="/" name="home"><img src="/images/logo-s.png" height="30px" alt="Logo"></a>
        <p id="date"></p>
    </div>
    <div id="right">
        <form action="/search" method="get">
            <input type="search" placeholder = "Search for articles or quizzes..." name = "search" value = "" id="search-bar"/>
            <button type="submit" id="search-btn" name="search-btn">
                <i class="fas fa-search"></i>
            </button>
        </form>
        {{#if username}}
            <a href="/profile">{{username}}</a>
            <a href="/logout">Log Out</a>
        {{else}}
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        {{/if}}
    </div>
</nav>
