<div class="post">
  <a href="/article/post" class="post">
    <div>
      <img src="/images/anti-filipino.jpg" class="post-img">
    </div>
    <div>
      <h1 class="post-title">Title Title Title</h1>
      <h6 class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies eu enim sed consectetur. Vivamus vitae massa pretium, euismod orci eu, semper mi. Duis dignissim lectus sed tortor pellentesque, sit amet pellentesque lacus hendrerit. Vivamus sed nunc mattis, dictum est ut, consectetur turpis. Cras quam metus, pretium et pellentesque vitae, egestas non metus.</h6>
      <h6 class="post-text">Read more...</h6>
    </div>
  </a>
</div>