<!DOCTYPE html>
<html>
<head>
	<link href="/css/main.css" rel="stylesheet">
	<link rel="icon" href="/images/logo.png">
	<link href = "https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel = "stylesheet">
</head>
<body>
	{{{body}}}
</body>
</html>
