<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/images/logo.png">
	<link href="/css/main.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<script src="/js/header.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
</head>
<body>
	{{{body}}}
</body>
</html>
