<!DOCTYPE html>
<html>
<head>
  <title> phDiaspora | About Us </title>
</head>
<body>
  {{> header}}
  <div id="container">

    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>About Us</li>
    </ul> 

    <div id="main-small">
      <h1 class="subheader">About Us</h1>
    </div><hr><br>
    
  </div>
</body>
</html>
