<!DOCTYPE html>
<html>
<head>
  <title> dysPHoria | About Us </title>
</head>
<body>
  {{> header}}
  <div id="container">

    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>About Us</li>
    </ul> 

    <div id="main-small">
      <h1 class="subheader">About Us</h1>
    </div><hr><br>

    <div id="group">
      <h2 class="subsubheader">The Group</h2><br>
      <div id="members">
        <div class="member">
          <img src="/images/authors/jr.jpg">
          <h4>Edralin, John Rey M.</h4>
        </div>
        <div class="member">
          <img src="/images/authors/soph.jpg">
          <h4>Eguaras, Sophia Louisse L.</h4>
        </div>
        <div class="member">
          <img src="/images/authors/aj.jpg">
          <h4>Marcelo, Andrea Jean C.</h4>
        </div>
        <div class="member">
          <img src="/images/authors/cheska.jpg">
          <h4>Vicente, Francheska Josefa</h4>
        </div>
        <div class="member">
          <img src="/images/authors/pia.jpg">
          <h4>Vista, Sophia Danielle S.</h4>
        </div>
      </div>
    </div>

    <br><hr class="line-light"><br>

    <div id="aboutus">
      <h2 class="subsubheader">Introduction: Racial Discrimination in the Past and Present</h2><br>
      <p>Simula noong panahon ng pananakop ng mga Espanyol, hinarap ng mga Pilipino ang iba’t-ibang uri ng diskriminasyon mula sa mga dayuhan at mula sa mga kapwa Pilipino. Hanggang ngayon, mayroon pa ring mga tumagal na epekto mula sa pananakop ng Pilipinas — tulad ng paghusga ng mga Pilipino sa kanilang kapwa Pilipino at pagturing sa sariling lahi bilang mas mababa kumpara sa ibang mga lahi.</p><br>
      <p>Sa mga nangyaring diskriminasyon sa mga Pilipino mula sa mga dayuhan, marami ang mga kaso ng paghuhusga sa mga Pilipino na nagtatrabaho sa ibang bansa. Nangyayari ito dahil mayroong pag-iisip ang mga dayuhan na mas mababa ang katayuan ng mga Pilipino kaysa sa mga ibang lahi. Nakikita rito na hindi lamang sa kasaysayan laganap ang diskriminasyon ng mga dayuhan sa mga Pilipino kundi sa kasalukuyan din.</p><br>
      <p>Bukod sa mga dayuhan, makikita rin ang diskriminasyon sa kapwa Pilipino. May mga kumpanya sa Pilipinas na kahit ang kapwa Pilipino ay nakakaranas ng diskriminasyon. Malaganap din ang mga industriya ng pampaputi ng balat sa Pilipinas. Karamihan ng mga produkto para sa balat ay kadalasang may mga sangkap ng pagpapaputi. Ang mga kababaihan sa Pilipinas ay pilit na sinusunod ang pamantayan sa kagandahan kung saan mas nakakahigit ang mga mapuputi habang mababa ang tingin sa mga maiitim. Iba ang turing ng ilang Pilipino base sa kulay ng kanilang balat; ang mga Pilipinong mapuputi ay mas “kaakit-akit” at “mayaman” samantalang ang mga kayumanggi na Pilipino ay “marumi”. Ang katanyagan ng mga produkto ng pampaputi ay nag-uugat sa nakapaloob na kapootang panlahi na nagmula noong panahon ng mga Kastila.</p><br>
      <p>Ang mga kolonyal na ideolohiya ay dinadala ngayon sa kasalukuyan kung saan naiimpluwensyahan nito ang mga kaisipan ng mga Pilipino ngayon. Samakatuwid, tiyak na laganap talaga ang diskriminasyon tungo sa mga Pilipino mula noon hanggang ngayon.</p><br>

      <br><hr class="line-light"><br>

      <h2 class="subsubheader">Why is Racial Discrimination in the Philippines an important topic?</h2><br>
      <p>Discrimination has a deep connection with the history of the Philippines. Even though we can consider the Philippines as free from its colonizers, the events during the colonization of the Philippines still have a big impact on the present. This is because discrimination against Filipinos still exists within the country and outside of it.</p><br>
      <p>Due to the discrimination against Filipinos that is still prevalent everywhere, Filipinos might feel dissatisfied or unhappy that they are Filipinos. The dissatisfaction that a FIlipino may feel towards their race is an important topic to address as it may result in further inferiority complex. This might then result in a person’s acceptance of the violation of their rights. Thus, the dysphoria that a Filipino might feel from these past situations need to be addressed so that Filipinos would know what their rights are, and the reason behind these discriminatory acts.</p><br>
    </div>
    
  </div>

  {{> footer}}
</body>
</html>
