<!DOCTYPE html>
<html>
<head>
  <title> dysPHoria | About Us </title>
  <link href="/css/aboutus.css" rel="stylesheet">
</head>
<body>
  {{> header}}
  <div id="container">

    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>About Us</li>
    </ul> 

    <div id="main-small">
      <h1 class="subheader">About Us</h1>
    </div><hr><br>

    <div id="group">
      <h2 class="subsubheader">The Group</h2><br>
      <div id="members">
        <div class="member">
          <img src="/images/authors/jr.jpg">
          <h4>Edralin, John Rey M.</h4>
        </div>
        <div class="member">
          <img src="/images/authors/soph.jpg">
          <h4>Eguaras, Sophia Louisse L.</h4>
        </div>
        <div class="member">
          <img src="/images/authors/aj.jpg">
          <h4>Marcelo, Andrea Jean C.</h4>
        </div>
        <div class="member">
          <img src="/images/authors/cheska.jpg">
          <h4>Vicente, Francheska Josefa</h4>
        </div>
        <div class="member">
          <img src="/images/authors/pia.jpg">
          <h4>Vista, Sophia Danielle S.</h4>
        </div>
      </div>
    </div>

    <br><hr class="line-light"><br>

    <div id="aboutus">
      <h2 class="subsubheader">Our Mission</h2><br>
      <p>When people are to know half-baked knowledge, it is easy for misunderstandings to take hold. This is why this organization aims to clear up falsified information as well as the FIlipino name. dysPHoria hopes to open the eyes of the FIlipinos to the discrimination its countrymen are experiencing, and to learn to fight back against normalizing these discriminatory acts. Lastly, it set its sights on connecting the history of the Philippines to the current discrimination that its country is experiencing in hopes to find a solution to these discriminatory acts.</p><br>
      <p>Due to the discrimination against Filipinos that is still prevalent everywhere, Filipinos might feel dissatisfied or unhappy that they are Filipinos. The dissatisfaction that a FIlipino may feel towards their race is an important topic to address as it may result in further inferiority complex. This might then result in a person’s acceptance of the violation of their rights. Thus, the dysphoria that a Filipino might feel from these past situations need to be addressed so that Filipinos would know what their rights are, and the reason behind these discriminatory acts.</p><br>

      <br><hr class="line-light"><br>

      <h2 class="subsubheader">Our Vision</h2><br>
      <p>A future where Filipinos receive respect from other people so they can stand up with confidence everywhere they go.</p><br>

      <br><hr class="line-light"><br>

      <h2 class="subsubheader">Introduction: Racial Discrimination in the Past and Present</h2><br>
      <p>Since the time of the Spanish conquest, Filipinos have faced various forms of discrimination from foreigners and from fellow Filipinos. To this day, there are still lasting effects from the Philippine occupation - such as Filipinos judging their fellow Filipinos and treating their own race as inferior to other races.</p><br>
      <p>In the cases of discrimination against Filipinos from foreigners, there are many cases of discrimination against Filipinos working abroad. This happens because foreigners think that Filipinos have a lower status than other races. It can be seen here that not only historically, discrimination against Filipinos by foreigners is widespread but also today.</p><br>
      <p>Apart from foreigners, there is also discrimination against fellow Filipinos. There are companies in the Philippines that even fellow Filipinos experience discrimination. The skin whitening industry is also widespread in the Philippines. Most skin products often have bleaching ingredients. Women in the Philippines insist on following the standard of beauty where whites excel while blacks are looked down upon. Some Filipinos view differently based on the color of their skin; white Filipinos are more “attractive” and “rich” while brown Filipinos are “dirty”. The popularity of bleach products is rooted in the ingrained racism that dates back to the time of the Spaniards.</p><br>
      <p>Colonial ideologies are now being brought into the present where they are influencing the minds of Filipinos today. Therefore, discrimination against Filipinos can be consnidered to be rampant from then until now.</p><br>

      <br><hr class="line-light"><br>

      <h2 class="subsubheader">Why is Racial Discrimination in the Philippines an important topic?</h2><br>
      <p>Discrimination has a deep connection with the history of the Philippines. Even though we can consider the Philippines as free from its colonizers, the events during the colonization of the Philippines still have a big impact on the present. This is because discrimination against Filipinos still exists within the country and outside of it.</p><br>
      <p>Due to the discrimination against Filipinos that is still prevalent everywhere, Filipinos might feel dissatisfied or unhappy that they are Filipinos. The dissatisfaction that a FIlipino may feel towards their race is an important topic to address as it may result in further inferiority complex. This might then result in a person’s acceptance of the violation of their rights. Thus, the dysphoria that a Filipino might feel from these past situations need to be addressed so that Filipinos would know what their rights are, and the reason behind these discriminatory acts.</p><br>
    </div>
    
  </div>

  {{> footer}}
</body>
</html>
