<!DOCTYPE html>
<html>
<head>
  <title> phDiaspora | Articles </title>
</head>
<body>
  {{> header}}
  <div id="container">

    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>Articles</li>
    </ul> 

    <div id="main-small">
      <h1 class="subheader">List of Articles</h1>
    </div><hr><br>
    
    <div id="articles">
      <div id="article-list">
        {{>post}}<hr class="line-light">
        {{>post}}<hr class="line-light">
        {{>post}}<hr class="line-light">
      </div><br>
    </div><br>

  </div>
  {{> footer}}
</body>
</html>
