<html>
<head>
  <title> dysPHoria | Error 404 </title>
  <link href="/css/error.css" rel="stylesheet">
</head>
<body>
  {{> header}}
  <div id="container">

    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>Error 404</li>
    </ul>

    <div id="errorcontents">
      <br>
      <h1>Error 404</h1>
      <p>Page not found.</p>
      <a href="/">Go back to the main page.</a><br> 
    </div>

  </div>
  {{> footer}}
</body>
</html>