<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/sanitize.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">

        <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <div id="container-screen" class="container-fluid bg-light p-4 d-flex flex-column justify-content-center">
            <h1 id="logo-name" class="text-center">Balai Yllana Logo</h1><br>
            <div class="d-flex flex-column align-items-center justify-content-center">
                
                <div class="container">
                  <div class="row align-items-center justify-content-center">
                    <div class="home-btn col-sm d-flex flex-column ms-4 me-3 justfy-content-center align-items-center text-center rounded-lg border shadow" onclick="window.location='/'">
                        <span class="material-icons-two-tone md-144">fastfood</span><br>
                        <h2 class="home-btn-label">ORDERING<br>SYSTEM</h2>
                    </div>
                    <div class="home-btn col-sm d-flex flex-column ms-4 me-3 justfy-content-center align-items-center text-center rounded-lg border shadow" onclick="window.location='/'">
                      <span class="material-icons-two-tone md-144">inventory_2</span><br>
                      <h2 class="home-btn-label">INVENTORY<br>MANAGEMENT</h2>
                    </div>
                    <div class="home-btn col-sm d-flex flex-column ms-4 me-3 justfy-content-center align-items-center text-center rounded-lg border shadow" onclick="window.location='/'">
                      <span class="material-icons-two-tone md-144">edit_calendar</span><br>
                      <h2 class="home-btn-label">EVENT<br>TRACKER</h2>
                    </div>
                  </div>
                </div>
                
            </div>
        </div>
    </body>
</html>
