<!DOCTYPE html>
<html>
<head>
  <title> phDiaspora | Home </title>
</head>
<body>
  {{> header}}
  <div id="container">

    <div id="main">
      <a href="/"><img src="/images/logo.png" height="150px"></a>
      <div>
        <a href="/" id="title">phDiaspora</a>
        <a href="/" id="caption">For Filipinos, For the Future</a>
      </div>
    </div><hr><br>
    
    <div id="articles">
      <h2 class="subheader">Latest Articles</h2>
      <div id="article-list">
        {{>post}}<hr class="line-light">
        {{>post}}<hr class="line-light">
        {{>post}}<hr class="line-light">
      </div><br>
      <a href="/article/list" class="seeall">See All Articles</a>
    </div><br>

    <div id="quizzes">
      <h2 class="subheader">Latest Quizzes</h2>
      <div id="quiz-list">
        {{>post}} <hr class="line-light">
        {{>post}} <hr class="line-light">
        {{>post}} <hr class="line-light">
      </div><br>
      <a href="/quiz/list" class="seeall">See All Quizzes</a>
    </div><br>
    
  </div>
  {{> footer}}
</body>
</html>
