<!DOCTYPE html>
<html>
<head>
  <title> dysPHoria | Quizzes </title>
</head>
<body>
  {{> header}}
  <div id="container">

    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>Quizzes</li>
    </ul> 

    <div id="main-small">
      <h1 class="subheader">List of Quizzes</h1>
    </div><hr><br>

    <div id="quizzes">
      <div id="quiz-list">
        {{#each quizzes}}
          {{>quiz}}
          <hr class="line-light">
        {{/each}}
      </div><br>
    </div><br>

  </div>
  {{> footer}}
</body>
</html>
