#aboutus {
    padding-left: 5%;
    padding-right: 5%;
}

#aboutus p {
    font-family: Merriweather;
    font-size: 2vh;
    font-weight: 300;
    text-indent: 50px;
    text-align: justify;
}

#group h2 {
    text-align: center;
}

#group {
    padding-left: 5%;
    padding-right: 5%;
}

#members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.member img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #7d6464;
}

.member h4 {
    font-family: Lora;
    font-size: 2vh;
    font-weight: 300;
    text-align: center;
}