.logincontents, .signupcontents {  
    border: 5px solid;
    border-color: #593e3b;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logincontents h1, .signupcontents h1 {
    font-family: Lora;
    font-size: 10vh;
    font-weight: 600;
    color: #593e3b;
}

#errors {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.error {
    font-family: 'Lora';
    font-weight: bold;  
    font-size: 2vh;
    color: #a52a2a;
}

#loginlink, #signuplink {
    font-family: 'Lora';
    font-size: 1.8vh;
    color: #593e3b;
}

.input {
    padding: 4px 10px;
    border: 3px solid #7d6464;
    border-radius: 4px;
    color: #7d6464;
    font-family: Lora;
    font-size: 18px;
    margin-bottom: 5px;
}

.input:hover, .input:focus {
    border: 3px solid #593e3b;
    border-radius: 4px;
}