#header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(rgba(234,234,234,.95), rgba(234,234,234,.95)), url("/images/main-bg.png");
}

#header a, #header p {
    text-align: center;
    font-family: Merriweather;
    font-size: 1.8vh;
    color: #593e3b;
    text-decoration: none;
}

#right a:hover {
    background-color: #F6F6F6;
}

#left, #right {
    display: flex;
    align-items: center;
}

#left > a {
    padding-right: 20px;
    margin-top: 2px;
}

#right > a {
    padding: 20px;
}

#right > form {
    margin: auto;
    margin-right: 10px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.search-bar {
    width: 300px;
    border-radius: 15px;
    border: 2px #ddd solid;
    padding: 5px 5px 5px 10px;
    font-family: Lora;
}

.search-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: -35px;
}