@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
}

body {
    background: linear-gradient(rgba(234,234,234,.95), rgba(234,234,234,.95)), url("/images/main-bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

#header {
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(rgba(234,234,234,.95), rgba(234,234,234,.95)), url("/images/main-bg.png");
}

#header a, #header p {
    text-align: center;
    font-family: Merriweather;
    color: black;
    text-decoration: none;
}

#header a:hover {
    background-color: #F6F6F6;
}

#navop > a {
    margin-left: 20px;
}

/* Index */

#container {
    background-color: #FAFAFA;

    width: 80%;
    height: 100%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.01), 0 8px 20px 0 rgba(0, 0, 0, 0.01);
    padding: 20px;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("/images/title-bg.jpg");
}

#title {
    font-family: Lora;
    color: #111111;
    text-decoration: none;
    font-size: 8vh;
    font-weight: 700;
}

#articles, #quizzes {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

#articles a, #quizzes a {
    color: black;
    text-decoration: none;
}

.subheader {
    font-family: Merriweather;
    font-size: 4vh;
    font-style: italic;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.seeall {
    font-family: Merriweather;
    font-size: 2vh;
    font-weight: 300;
    text-align: right;
}

.line-light {
    background-color: #C9C9C9;
    color: #C9C9C9;
    border: none;
    height: 1px;
    margin-left: 30px;
}

.post-title {
    font-family: Merriweather;
    font-size: 3vh;
    font-weight: 500;
}

.post-text {
    font-family: Merriweather;
    font-size: 1.5vh;
    font-weight: 300;
}

.article > div {
    padding: 20px;
    margin-left: 30px;
}

.article > div:hover {
    background-color: #E8E8E8;
    transition: all 0.5s;
}
