@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@font-face {
  font-family: Chromate;
  src: url(/fonts/Chromate-Regular.otf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    min-width: 850px;
}

body {
    background: linear-gradient(rgba(234,234,234,.95), rgba(234,234,234,.95)), url("/images/main-bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********************* 
    
    Header/Navbar 

*********************/

#header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(rgba(234,234,234,.95), rgba(234,234,234,.95)), url("/images/main-bg.png");
}

#header a, #header p {
    text-align: center;
    font-family: Merriweather;
    font-size: 1.8vh;
    color: #593e3b;
    text-decoration: none;
}

#right a:hover {
    background-color: #F6F6F6;
}

#left, #right {
    display: flex;
    align-items: center;
}

#left > a {
    padding-right: 20px;
    margin-top: 2px;
}

#right > a {
    padding: 20px;
}

#right > form {
    margin: auto;
    margin-right: 10px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

#search-bar {
    width: 300px;
    border-radius: 15px;
    border: 2px #ddd solid;
    padding: 5px 5px 5px 10px;
    font-family: Lora;
}

#search-btn {
    border: none;
    background: none;
    margin-left: -35px;
}

/****************** 
    
    Breadcrumbs 

******************/

ul.breadcrumb {
    list-style: none;
    padding-bottom: 10px;
}

ul.breadcrumb li {
    display: inline;
    font-family: 'Merriweather';
    font-size: 1.5vh;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: ">";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/************************
    
    Footer Elements 

************************/

footer {
    display: flex;
    background: linear-gradient(rgba(234,234,234,.95), rgba(234,234,234,.95)), url("/images/main-bg.png");
}

#aboutusbtn {
    padding: 20px;
    text-align: center;
    font-family: Merriweather;
    color: black;
    text-decoration: none;
    margin: auto;
}

#aboutusbtn:hover {
    background-color: #F6F6F6;
}

/****************** 
    
    Containers 

******************/

/* main white bg container */
#container {
    background-color: #FAFAFA;
    width: 80%;
    height: 100%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.01), 0 8px 20px 0 rgba(0, 0, 0, 0.01);
    padding: 20px;
}

/* big heading in index */
#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("/images/title-bg.jpg");
}

#main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* smol heading */
#main-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("/images/title-bg.jpg");
}

/* heading for articles/quizzes  */
#main-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*********************** 
    
    General Elements 

***********************/

h1.subheader {
    font-family: Merriweather;
    font-size: 5vh;
    font-style: italic;
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

h2.subheader {
    font-family: Merriweather;
    font-size: 4vh;
    font-style: italic;
    font-weight: 700;
    color: #593e3b;
    text-decoration: none;
}

h2.subsubheader {
    font-family: Merriweather;
    font-size: 3vh;
    font-style: italic;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.line-light {
    background-color: #C9C9C9;
    color: #C9C9C9;
    border: none;
    height: 1px;
    margin-left: 2%;
}

.btn {
    border: none;
    cursor: pointer;
    font-size: 2vh;
    background-color: #7b6363;
    border-radius: 15px;

    padding: 10px 20px;
    font-family: Merriweather;
    color: white;
    text-decoration: none;
}

.btn:hover[type="submit"] {
    background-color: #624E4E;
}

/***********************
    
    Index Elements 

***********************/

#title {
    font-family: Lora;
    color: #593e3b;
    text-decoration: none;
    font-size: 72px;
    font-weight: 700;
    margin-left: 20px;
}

#caption {
    font-family: Lora;
    color: #593e3b;
    text-decoration: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    margin-left: 95px;
    margin-top: -20px;
}

.seeall {
    font-family: Merriweather;
    font-size: 2vh;
    font-weight: 300;
    text-align: right;
    text-decoration: underline;
    color: black;
}

.seeall:hover {
    color: #777777;
}

/***********************
    
    List Elements 

************************/

#articles, #quizzes {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

#article-list a, #quiz-list a {
    color: black;
    text-decoration: none;
}

.post {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 0.5%;
}

.post:hover {
    background-color: #E8E8E8;
    transition: all 0.5s;
}

.post > div {
    padding: 5px;
    margin-left: 20px;
}

.post-title {
    font-family: Merriweather;
    font-size: 3vh;
    font-weight: 500;
}

.post-text {
    font-family: Merriweather;
    font-size: 1.5vh;
    font-weight: 300;
}

.post-img {
    width: 200px;
}

/*********************************
    
    Article and Quiz Elements 

**********************************/

#main-post h4 {
    font-family: Merriweather;
    font-size: 1.7vh;
    font-style: italic;
    font-weight: 300;
    margin-right: 5%;
    text-align: right;
}

.body {
    padding-left: 5%;
    padding-right: 5%;
}

/* article text */
.body p {
    font-family: Merriweather;
    font-size: 2vh;
    font-weight: 300;
    text-indent: 50px;
    text-align: justify;
}

/* reference header */
.body h3 {
    font-family: Merriweather;
    font-size: 1.7vh;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

/* image reference */
.body h4 {
    font-family: Merriweather;
    font-size: 1.4vh;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

/* reference text */
.body h5 {
    font-family: Merriweather;
    font-size: 1.2vh;
    font-style: italic;
    font-weight: 300;
    text-align: left;
    margin-left: 20px;
    text-indent: -20px;
}


/***********************
    
    Article Elements 

************************/

#img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img > img {
    width: 500px;
}

#poll-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

#poll h3 {
    font-family: Merriweather;
    font-size: 3vh;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buttons p {
    font-family: Lora;
    font-size: 1.5vh;
    font-weight: 300;
}

#buttons > button {
    width: 10%;
    font-size: 2.5vh;
}

#nobtn {
    margin-left: 20px;
}

#poll-bars {
    margin: 10px 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#poll-bars > div {
    display: flex;
    background-color: #E8E8E8;
    border-radius: 15px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
}

#poll-bars h4 {
    margin-top: 10px;
    font-family: Merriweather;
    font-size: 1.4vh;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

#poll-bars span {
    padding: 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    /*max-width: 95%;*/
    font-family: Lora;
    color: white;
    font-size: 1.5vh;
    font-weight: 600;
    border-radius: 10px;
}

.yes {
    background-color: #7B6363;
    margin-bottom: 10px;
}

.no {
    background-color: #7B6363; 
}

#comments {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

#comment-list {
    padding-left: 2%;
    padding-right: 2%;
}

.comment-author {
    font-family: Merriweather;
    font-size: 1.5vh;
    font-weight: 300;
}

.comment-text {
    font-family: Merriweather;
    font-size: 2vh;
    font-weight: 500;
    margin-left: 1%;
}

/***********************
    
    Article Elements 

************************/

.quiz-item {
    display: flex;
    justify-content: center;
}

#quiz-body p {
    text-indent: 0px;
}

.false {
    margin-left: 20px;
}


/***********************
    
    Login Elements &
    Sign Up Elements 

************************/

.logincontents, .signupcontents {  
    border: 5px solid;
    border-color: #593e3b;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logincontents h1, .signupcontents h1 {
    font-family: Lora;
    font-size: 10vh;
    font-weight: 600;
    color: #593e3b;
}

#errors {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.error {
    font-family: 'Lora';
    font-weight: bold;  
    font-size: 2vh;
    color: #a52a2a;
}

#loginlink, #signuplink {
    font-family: 'Lora';
    font-size: 1.8vh;
    color: #593e3b;
}

.input {
    padding: 4px 10px;
    border: 3px solid #7d6464;
    border-radius: 4px;
    color: #7d6464;
    font-family: Lora;
    font-size: 18px;
    margin-bottom: 5px;
}

.input:hover, .input:focus {
    border: 3px solid #593e3b;
    border-radius: 4px;
}

/***********************
    
    About Us Elements 

************************/

#aboutus {
    padding-left: 5%;
    padding-right: 5%;
}

#aboutus p {
    font-family: Merriweather;
    font-size: 2vh;
    font-weight: 300;
    text-indent: 50px;
    text-align: justify;
}

#group h2 {
    text-align: center;
}

#group {
    padding-left: 5%;
    padding-right: 5%;
}

#members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.member img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #7d6464;
}

.member h4 {
    font-family: Lora;
    font-size: 2vh;
    font-weight: 300;
    text-align: center;
}

/***********************
    
    Error Elements

************************/

#errorcontents {  
    border: 5px solid;
    border-color: #593e3b;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#errorcontents h1 {
    font-family: Lora;
    font-size: 10vh;
    font-weight: 600;
    color: #593e3b;
}

#errorcontents p {
    margin-top: -20px;
    font-family: 'Lora';
    font-size: 4vh;
    color: #593e3b;
}

#errorcontents a {
    margin-top: 20px;
    font-family: 'Lora';
    font-size: 1.8vh;
    color: #593e3b;
}