@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Rules for sizing the icon. */
.material-icons-two-tone.md-18 { font-size: 18px; }
.material-icons-two-tone.md-24 { font-size: 24px; }
.material-icons-two-tone.md-36 { font-size: 36px; }
.material-icons-two-tone.md-48 { font-size: 48px; }
.material-icons-two-tone.md-72 { font-size: 72px; }
.material-icons-two-tone.md-96 { font-size: 96px; }
.material-icons-two-tone.md-144 { font-size: 144px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.rounded-lg { border-radius: 75px; }

