@font-face {
    font-family: "Raleway";
}

@font-face {
    font-family: "Secondary";
}

html, body {
    font-family: "Secondary";
    color: #0d1f2d;
    min-height: 100vh;
    background-color: #E7EBEF;
}

a, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Raleway";
}

button, .btn {
    font-family: "Raleway";
    font-style: normal;
}