#search-box-container > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-bar-large {
    font-size: 2vh;
    width: 80%;
}

#search-results a {
    color: black;
    text-decoration: none;
}

#search-results p {
    margin-top: 20px;
    font-family: Merriweather;
    font-size: 3vh;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}